---
import Footer from "../components/Footer.astro";
import Modal from "../components/Modal.astro";

interface Props {
  title: string;
  description?: string;
}

const {
  title,
  description = "Merge multiple A6 shipping labels into A4 pages efficiently with Label Squeeze. Save paper and streamline your shipping process.",
} = Astro.props;
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
    <meta name="description" content={description} />
    <script
      src="https://cdn.jsdelivr.net/npm/pdfjs-dist@3.11.174/build/pdf.min.js"
    ></script>
    <script>
      document.addEventListener("DOMContentLoaded", () => {
        window.pdfjsLib.GlobalWorkerOptions.workerSrc =
          "https://cdn.jsdelivr.net/npm/pdfjs-dist@3.11.174/build/pdf.worker.min.js";
      });
    </script>
  </head>
  <body
    class="min-h-screen bg-gradient-to-br from-blue-50 via-white to-purple-50 flex flex-col"
  >
    <div class="flex-grow">
      <slot />
    </div>
    <Footer />
    <Modal />
    <div id="notifications" class="fixed top-4 right-4 z-50"></div>
  </body>
</html>
